.contato{
    color: var(--azul);
    background-color: var(--branco);
    padding: 1em;

}
.contato-titulo{
    font-weight: 500;
    padding: 1em 0;

    

}
.contato-texto{
    font-weight: 300;
    padding: 1em 0;


}
.contato-email{
    border: 1px solid var(--azul);
    border-radius: 2em;
    padding: 1em 0;
    width: 100%;
    margin: 1em 0;
    
    
}
.contato-email::placeholder{
    background: url(/img/Email.svg)no-repeat;
    color: var(--azul);
    padding-left: 3em;
    background-position: 1em;
}
.contato-email:hover{
    background-color: var(--cor-de-fundo);
    
}

@media screen and (min-width:1024px) {
    .contato-email{
        width: 30%;
        
    }
    .container-contato{
        display: flex;
        flex-direction: column;
    }
    .contato{
        display: flex;  
        align-items: center;
        justify-content: space-between;   
        margin: 0em 25em;    
    }
    .contato-titulo{
        font-size:1.8em;
        font-weight: 700;
    }
    .contato-texto{
        font-size: 1.1em;
    }
}

@media screen and (min-width:1728px) {
    .contato{
        margin: 0 3em 0 3em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: space-around;
    

        
    }
}