.rodape{
    padding: 1em;
   
    background-color: var(--branco);
}
.rodape-titulo{
    color: var(--preto);
    
}
@media screen and (min-width:1024px) {
    .rodape{
        text-align: center;
    }
    
}