/*Input type checkbox = clica e fica preenchido*/
/*label for menu = associa todos os elementos que vem dentro dele com outro com a tag menu */

.cabecalho-menu-hamb{
    width: 24px;
    height: 24px;
    background-image: url(../img/MenuPreto.svg);
    display: inline-block; /* inlineblock permite ajusta de largura e altura*/
    background-repeat: no-repeat; /*para nao bugar os icones*/
    background-position: center; /*posiciona os icones do background ao meio*/
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;  /*libera a opcao de colocar atributos como top, left etc*/
}

.container{ /*as duas divs*/
    display: flex;
    align-items: center;

}

.container-imagem{
    padding: 1em; /*para dar espacamento nos botoes*/
}

.container-botao:checked~.lista-menu { /* checked~.lista-menu = aparece a lista quando clicar */
    display: block;

}
.container-botao{
    display: none; /*tira o input checkbox*/
}

.lista-menu{
    display: none; /*retira o display da lista*/
    position: absolute; /*permite que movimente de acordo com o atributo pai*/
    top: 100%; /*faz o menu sair do cabecalho*/
    width: 60vw; /*vw: viewport width abre o menu em 60% da tela */
    

}
.lista-menu-titulo,
.lista-menu-item{
    padding: 1em; /*espacamento entre os botoes*/
    background-color: var(--branco);
     
}
.lista-menu-titulo{
    color: var(--laranja);
    font-family: var(--fonte-principal);
    font-weight: 700;
}
.lista-menu-link{
    background: var(--azul-degrade);
    -webkit-background-clip: text; /*webkit serve para funcionar em outros navegadores*/
    -webkit-text-fill-color: transparent;
    background-clip: text; /* prende a cor somente  no texto*/
    text-transform: uppercase; /*Deixa as letras maiusculas*/
    font-family: var(--fonte-principal);
    font-size: 1rem;
    line-height: 1rem; /*espacamento altura da linha*/
    
    
}